
.header{
    margin-top: 0%;
    position: fixed;
    left: 0;
    width: 100%;
width: 1920px;
height: 80px;
background:rgb(219, 116, 12);
box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.161);
opacity: 1;
}
.header-logo
{margin-left: 3%;
margin-top: -2%;
width:128px;
height: 70px;
opacity: 1;
}
.header-logo-image{
    padding-top: 0%;
    margin-top: 0%;
    max-width: 200%;
    max-height: 220%;
}
.left-div
{   
    position: absolute;
    top:50%;
    left: 50%;
    right: 20%;   
    margin-right: 60%;
    height: 23%;
    width: 40% ;

}
.cart{
    margin-top:0px;
    max-width: 130%;
    max-height: 130%;

}

.button{
    
    text-align: center;
    color: black ;
    size: 30px;;
    text-align: center;
    text-shadow: 10px;
    background-color: rgb(240, 174, 19);
    border: rgb(232, 185, 15);
    
}
.mid-div{
    position: absolute;
    top:4%;
    left: 10%;   
    height: 23%;
    width: 40% ;
    color: rgb(234, 57, 57);
}
.style{
    font-size: 48px;
    font-family: 'Brush Script MT';
    margin-top: 25px;
    text-shadow: 2px 2px rgb(17, 4, 4);
    
}