<div class="header" >
    <div class="header-logo" >

        <img class="header-logo-image" src="assets/images/r'jus-logos_black.png">&nbsp;
    </div>
    
    <div > 
       
        <div class="left-div">    
        <button class="button" style="margin-left: 40%;"><a routerLink="/" ><b>HOME</b></a></button>&nbsp;
        <button class="button" ><a routerLink="/login" ><b>LOGIN</b></a></button>&nbsp;
        <button class="button"><b>HELP</b></button>&nbsp;
            <button class="button"><a routerLink="/SignUp" >Sign UP</a></button>
    </div>
    </div>
</div> 
